/* Style for the Blob Canvas */
.canvas-wrapper {
    position: fixed; /* Ensures the canvas is fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    overflow: hidden; 
    z-index: -1500; 
    -webkit-transform: translateZ(0); /* Prevents rendering glitches in Safari */
  }
  
canvas {
    display: block; /* Avoid inline canvas quirks */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Fix for rendering issues */
    -webkit-transform: translateZ(0); /* Force GPU acceleration in Safari */
  }
  
img {
    max-width: 100%;
    height: auto;
}
